<div class="card">
    <div class="card-header">
        {{ pageTitle }}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="mx-sm-3">
                Filter by:
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control form-control-sm" placeholder="Digite algo para filtrar" 
                        [(ngModel)]='filterText'/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h6>
                    Filtered by: {{ filterText }}
                    <button *ngIf='showX()' type="button" class="close" aria-label="Close" style="float: none;"
                            (click)='clearFilterText()'>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h6>
            </div>
        </div>
        <button class="btn btn-info btn-sm"
                                    (click)='toggleImage()'>
                                {{ showImage ? 'Hide' : 'Show'}} Image
                            </button>
        <div class="table-responsive">
            <table class="table table-hover table-striped" 
                *ngIf='products'>
                <thead class="thead-dark">
                    <tr>
                        <th *ngIf='showImage'>Image</th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody *ngFor='let product of products'>
                   <tr>
                       <td *ngIf='showImage'>
                           <img  
                                [src]='product.imageUrl' 
                                [alt]='product.productName + "-image"'
                                [title]='product.productName'
                                [style.width.px]='imageWidth'
                                [style.margin.px]='imageMargin'
                            >
                        </td>
                       <td>{{ product.productName }}</td>
                       <td>{{ product.productCode | lowercase }}</td>
                       <td>{{ product.releaseDate }}</td>
                       <td>{{ product.price | currency: 'USD' : 'symbol' : '1.2-2' | lowercase }}</td>
                       <td>{{ product.starRating }}</td>
                   </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>